.pokerChip {
    background-color: #051441;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    margin: 4px;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #000;

}

// small blind 
.S {}
    
// big blind 
.B {}

// dealer 
.D {}