.sidebar {
    background-color: #030B29;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 2px solid rgba(249, 249, 249, 0.1);
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    z-index: 10;

    &--open {
        width: 200px;
    }

    &--close {
        width: 50px;
    }

    &__logo {

        transition: 0.35s ease;
        position: absolute;

        &--open {
            transform: scale(1);
        }

        &--close {
            transform: translate(-50%, -50%) scale(0.5)!important;
            opacity: 0;
            visibility: hidden;
        }

        &-container {

            position: relative;
            height: 150px;

            &--open {
            }

            &--close {
                /* height: 50px; */
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }

    &-menu {


        &--open {
            padding: 0 16px;
        }

        &--close {
            padding: 0;
        }


        &__title {
            font-size: 16px;
            font-weight: 700;
            color: rgba(249, 249, 249, 0.67);
            text-transform: capitalize;
            transition: all 0.3s;
            padding-bottom: 20px;

            &--open {
                opacity: 1;
            }

            &--close {
                opacity: 0;
                height: 0;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 30px;

            &-item {
                display: flex;
                flex-wrap: wrap;

                &--close {
                    justify-content: center;
                }
            }
        }

        &__link {
            color: #F9F9F9;
            padding-bottom: 20px;
            text-decoration: none;
            transition: all 0.3s;
            height: 42px;

            &--open {
                opacity: 1;
            }

            &--close {
                opacity: 0;
                height: 0;
            }

            &-icon {
                width: 22px;
                height: 22px;

                &--open {
                    margin-right: 10px;
                }
            }
        }
    }

    &__toggler {
        position: absolute;
        right: -18px;
        top: 110px;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 8px;
        background-color: #0B1E3E;
        color : #C571D8;
    }
}