@import './Table/_pokerHoldemTable.scss'; // Poker holdem table.
@import './modalEnterWithMoney/modalEnterWithMoney'; // Modal enter with money.
@import './chipPokerStatus/_chipPokerStatus.scss'; // chip dealer/bigBlind/smallBlind/
@import './Buttons/ButtonsTop/contentButtonsTop'; // Align buttons top.
@import './Buttons/soundButton/_soundButtons.scss'; // Button enable/disable music.

.poker {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #051441;
    height: 100%;
    width: 75vw;
    border-radius: 10px;
    margin: auto;
    transition: all .8s ease-in-out;
    align-items: center;
    user-select: none;

    &-container {
        padding: 0 50px;
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;

        .fullscreen {
            height: 100%;
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}

.table {

    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &__background {
        position: absolute;
        width: 80%;
        height: 90%;
        top: 20px;
    }


    &-player {
        display: flex;
        align-items: center;
        max-width: 300px;
        position: absolute;
        z-index: 2;

        &__avatar {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            border: 4px solid #D869CF;
            box-shadow: 0 0 .8vw #D869CF;
            z-index: 2;
        }

        &__info {
            min-width: 100px;
            height: 61px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(.25turn, rgba(255, 255, 255, 0), #D869CF 55%);
            border: .12vw solid #D869CF;
            border-top-right-radius: .5vw;
            border-bottom-right-radius: .5vw;
            padding-left: 3vw;
            margin-left: -2.5vw;
            padding-right: 1vw;
            z-index: 1;
        }

        &__name {
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
            margin-bottom: .3vw;
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.696);
        }

        &__balance {
            color: rgb(238, 238, 238);
        }

        &__bet {
            display: flex;
            align-items: center;
            position: absolute;
           
            &-image {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                z-index: 2;
            }

            &-text {
                min-width: 30px;
                border: .1vw solid #D869CF;
                border-radius: .6vw .6vw .6vw 0;
                text-align: right;
                padding: 3px 3px 3px 20px;
                margin-left: -15px;
                z-index: 1;
            }
        }

        &__hand {
            
            position: absolute;

            &-image {
                width: 62px;
                height: 90px;
                position: absolute;
                top: -100px;
                left: 100px;
            }

            &-image:nth-child(2) {
                top : -90px;
                left: 130px;
            }
        }
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    background: rgba(3, 5, 33, 0.74);
    min-height: 100px;
    border: 2px solid #ffffff;
    backdrop-filter: blur(25px);
    border-radius: 50px;
    margin: 20px 0;
}

.player-0 {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);

    img {
        top: 50%!important;
        left: 50%!important;
        transform: scale(1.5) translate(-50%, -50%)!important;
    }

    img:nth-child(2) {
        top: calc(50% + 10px)!important;
        left: calc(50% + 30px)!important;
        transform: scale(1.5) translate(-50%, -50%)!important;
    }
}

.player-2 {
    top: 50px;
    left: 20%;

    .table-player__bet {
        right: 0px;
        bottom: -40px;
    }
}

.player-3 {
    top: 50px;
    right: 20%;

    .table-player__bet {
        right: 0px;
        bottom: -40px;
    }
}

.player-1 {
    bottom: 40%;
    left: 10%;

    .table-player__bet {
        right: 0px;
        bottom: -40px;
    }
}

.player-4 {
    bottom: 40%;
    right: 10%;

    .table-player__bet {
        right: 0px;
        bottom: -40px;
    }
}

.ownplayerBet__bet {
    transform: translate(100px, 0);
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    
    &-image {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        z-index: 2;
    }

    &-text {
        min-width: 30px;
        border: .1vw solid #D869CF;
        border-radius: .6vw .6vw .6vw 0;
        text-align: right;
        padding: 3px 3px 3px 20px;
        margin-left: -25px;
        z-index: 1;
        transform: translateY(-15px);
    }
}

.statusPlayer {
    position: absolute;
    transform: translate(70px,0px);
}
.disablePlayer {
    filter: grayscale(100%) brightness(.5);
}
.folderPlayer {
    filter: grayscale(100%);
}
.turnPlayer {
    filter: brightness(1.2);
}
.disableBet {
    display: none;
}
.inactivePlayer {
    filter: brightness(.5);
}