.pokerTable {
    z-index: 10;  
    width: 60%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.pokerCards__card {
    width: 88px;
    height: 130px; 
    
    @media (max-width: 1500px) {
        width: 60px;
        height: 85px; 
    }
}
// dealer 
.dealer {
    color: blue;

    &__character {
        height: 150px;  
    }
}

// POT
.pot {
    display: flex;
    gap: 5px;

    &__text {
        border: 2px solid #FFD56A;
        padding: 8px;
        padding-left: 10px;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        color: #FFD56A;
        box-shadow: 0px 0px 10px #FFD56A;

    }

    &__money {
        border: 1px solid #ffffff;
        // padding: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        color: #fff;
        min-width: 100px;
        text-align: center;
    }
}

// Cards on the table ( not user cards ).
.pokerCards {
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    perspective: 800px;
}

.not-winner-card {
    opacity: 0.5
}


// Emply card
.emplyCard {
    width: 88px;
    height: 130px; 
    
    @media (max-width: 1500px) {
        width: 60px;
        height: 85px; 
    }
}

.card-container {
    width: 88px;
    height: 130px; 
    position: relative;
    transform-style: preserve-3d;
    //an animation to rotate the card only once from back to front and stay there.
    //animation: rotateCard 1s forwards;
    
    .card {
        position: absolute;
        backface-visibility: hidden;
    }

    .front {
        z-index: 0;
        transform: rotateY(180deg);
    }

    .back {
        z-index: 1;
        background-color: black;
        border-radius: 5px;
    }
}

.card-container:nth-child(1) {
    animation: rotateCard 1s forwards;
}

.card-container:nth-child(2) {
    animation: rotateCard 1s 0.2s forwards;
}

.card-container:nth-child(3) {
    animation: rotateCard 1s 0.4s forwards;
}

.card-container:nth-child(4) {
    animation: rotateCard 1s 0.6s forwards;
}

.card-container:nth-child(5) {
    animation: rotateCard 1s 0.8s forwards;
}

@keyframes rotateCard {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}